.addressDataWrapper {
    margin: auto;
    text-align: center;
    min-height: calc(100vh - 10rem);
    background-color: black;
}

.addParentWrapper {
    background-color: black;
    min-height: calc(100vh - 10rem);
}

.addressTxnsTextContainer {
    margin: 1rem 0;
    text-align: left;
}

.addressTxnText {
    padding-left: 2rem;
    font-size: 1.2rem;
    font-weight: 500;
    color: transparent;
    background-image: linear-gradient(315deg, rgba(16, 167, 182, 0.81) 0%, rgba(172, 131, 169, 0.87) 48.44%, rgba(230, 102, 96, 0.74) 100%);
    background-clip: text;
    cursor: pointer;
}

.addressTxnTextActive {
    padding-left: 2rem;
    font-size: 1.2rem;
    font-weight: bold;
    color: transparent;
    background-image: linear-gradient(315deg, rgba(16, 167, 182, 0.81) 0%, rgba(172, 131, 169, 0.87) 48.44%, rgba(230, 102, 96, 0.74) 100%);
    background-clip: text;
    cursor: pointer;
}


.addMainDetailsContainer {
    width: 80%;
    display: inline-block;
    margin: auto;
    color: white;
    padding: 1.5rem;
    overflow-y: auto;
}

.addressNoContainer {
    padding: 1rem;
    text-align: center;
}

.addNoText {
    font-size: 2rem;
    font-weight: 500;
    color: transparent;
    background-image: linear-gradient(315deg, rgba(16, 167, 182, 0.81) 0%, rgba(172, 131, 169, 0.87) 48.44%, rgba(230, 102, 96, 0.74) 100%);
    background-clip: text;
}

.addNoValue {
    font-size: 2rem;
    font-weight: 400;
}

.overviewAddContainer {
    padding: 0.5rem 2rem;
}

.overviewAddText {
    font-size: 1rem;
    font-weight: 500;
}

.overviewDetailsContainer {
    padding: 0 3rem;
    padding-bottom: 0.5rem;
}

.overviewDetailKeyText {
    display: inline-block;
    padding: 0 0.5rem;
    font-weight: 500;
}

.border {
    border-top: 1px solid white;
}




.loadingText {
    display: flex;
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
}

.blockDataWrapper {
    text-align: center;
    background-color: black;
}

.allBlocksDetailsContainer {
    color: white;
    padding: 1.5rem;
    background-color: black;
}

.blocksTextContainer {
    padding: 1rem 2rem;
}

.blockTextValue {
    font-size: 2rem;
    font-weight: bold;
}

.tableContainer {
    padding: 1rem;
    background: rgba(0,25,64,.25);
    border: 1px solid hsla(0,0%,100%,.2);
    border-radius: 25px;
    overflow-x: auto;
    white-space: nowrap;
}

.tableHeadingContainer {
    display: block;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.6);
}

.majorDataText {
    display: inline-block;
    min-width: 12rem;
    width: calc(23%);
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    padding: 0 4px;
}

.minorDataText {
    display: inline-block;
    min-width: 12rem;
    width: calc(7%);
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    padding: 0 4px;
}



.textDetailsContainer {
    width: 100%;
    text-align: center;
    padding-top: 0.5rem;
    display: block;
    color: white;
}

.textDetailsContainer:hover {
    color: rgba( 255, 255, 255, 0.5);
    width: 100%;
    font-weight: 500;
}


.blocksPaginationContainer {
    margin: 1rem 0;
    text-align: center;
}

.blocksPrevContainer {
    padding: 4px;
    font-size: 1rem;
    font-weight: 500;
    border: 0.5px solid white;
    color: white;
    cursor: pointer;
}

.blocksPrevContainerValue {
    padding: 8px;
    font-size: 1rem;
    font-weight: 500;
    border: 0.5px solid white;
    color: white;
    text-decoration: underline;
}

/* @media screen and (max-width: 1550px) {
    .majorDataText {
        width: 14rem;
    }

    .minorDataText {
        width: 12rem;
    }
}

@media screen and (max-width: 750px) {
    .majorDataText {
        width: 12rem;
    }

    .minorDataText {
        width: 10rem;
    }
} */

@media screen and (max-width: 420px) {
    .addMainDetailsContainer {
        width: 100%;
    }
}

.blockDataWrapper {
    margin: auto;
    min-height: calc(100vh - 10rem);
    background-color: black;
}

.blockMainParentWrapper {
    padding-top: 1rem;
    background-color: black;
}

.blockDetailsContainer {
    padding: 1rem;
    background: rgba(0,25,64,.25);
    border: 1px solid hsla(0,0%,100%,.2);
    border-radius: 25px;
}

.blockDataContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    height: max-content;
    padding: 0.5rem;
    flex-wrap: wrap;
}

.border {
    border-top: 1px solid white;
}

.blockDataMainContainer {
    color: white;
    padding: 1.5rem;
    min-height: 35rem;
}

.blockNoContainer {
    padding: 1rem;
    color: transparent;
    background-image: linear-gradient(315deg, rgba(16, 167, 182, 0.81) 0%, rgba(172, 131, 169, 0.87) 48.44%, rgba(230, 102, 96, 0.74) 100%);
    background-clip: text;
}

.blockNoText {
    font-size: 2rem;
    font-weight: 500;
}

.blockNoValue {
    font-size: 2rem;
    font-weight: 400;
}


.blockDetailKeyContainer {
    padding-left: 1rem;
    width: 30%;
}

.blockDetailKeyText {
    font-size: 1rem;
}

.blockDetailValueContainer {
    padding-right: 1rem;
    width: calc(70%);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.blockDetailValueText {
    font-size: 1rem;
    font-weight: bold;
}

.loadingText {
    display: flex;
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
}

@media screen and (max-width: 1000px) {
    .blockDataContainer {
        flex-direction: column;
    }

    .blockDetailKeyContainer {
        width: 100%;
        padding: 0;
    }

    .blockDetailValueContainer {
        width: 100%;
    }

    .blockDetailsContainer {
        text-align: initial;
    }


}

@media screen and (max-width: 800px) {
    .blockDataMainContainer {
        display: block;
    }
}