.transactionDataWrapper {
    margin: auto;
    min-height: calc(100vh - 10rem);
    background-color: black;
}

.txnDataMainPWrapper {
    padding-top: 1rem;
    background-color: black;
}

.loadingText {
    display: flex;
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
}

.transactionMainDataContainer {
    color: white;
    padding: 1.5rem;
    min-height: 35rem;
}

.transactionDetailContainer {
    padding: 1rem;
}

.transactionDetailText {
    font-size: 2rem;
    font-weight: 500;
    color: transparent;
    background-image: linear-gradient(315deg, rgba(16, 167, 182, 0.81) 0%, rgba(172, 131, 169, 0.87) 48.44%, rgba(230, 102, 96, 0.74) 100%);
    background-clip: text;
}

.txnDetailsContainer {
    padding: 1rem;
    background: rgba(0,25,64,.25);
    border: 1px solid hsla(0,0%,100%,.2);
    border-radius: 25px;
}

.border {
    border-top: 1px solid white;
}

.txnDataContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    height: max-content;
    padding: 0.5rem;
    flex-wrap: wrap;
}

.txnDetailKeyContainer {
    padding-left: 1rem;
    width: 30%;
}

.txnDetailKeyText {
    font-size: 1rem;
}

.txnDetailValueContainer {
    padding-right: 1rem;
    width: calc(70%);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.txnDetailValueText {
    font-size: 1rem;
    font-weight: bold;
}

@media screen and (max-width: 1000px) {
    .txnDataContainer {
        flex-direction: column;
    }

    .txnDetailKeyContainer {
        width: 100%;
        padding: 0;
    }

    .txnDetailValueContainer {
        width: 100%;
    }

    .txnDetailsContainer {
        text-align: initial;
    }


}

@media screen and (max-width: 800px) {
    .transactionMainDataContainer {
        display: block;
    }
}